@import url('https://fonts.googleapis.com/css2?family=Jost&family=Quicksand:wght@300;400;500;700&display=swap');



.iniBox{
    width: 908px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    border-radius: 0px 50px 50px 0px;
    background: #A6E2B8;
    position: relative; 
}

.upperLogoBox{
    padding-top: 70px;
    display: flex;
    max-width: 100%;
    max-height: 100vh;
    position: absolute;
    flex-direction: column;
    img{
        z-index: 1;
    }
    .upperLogo{ 
        width: 300px;
        margin: 0 0 0 200px;
        height: 100px
    }
    p{
        margin-top: 20px;
        margin-left: 200px;
    }
}

.mainSlogan p{
    width: 566px;
    color: #105B27;
    font-family: Quicksand;
    font-size: 72px;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    line-height: 82.44px; /* 114.499% */
    letter-spacing: -0.274px;
    z-index: 5;
}

.loginBox{
    margin: 5%;
    width: 100%;
    display:flex;
    flex-direction: column;
}

.welcomeBox{
    margin-top: 130px;
    .first{
        width: 566px;
        color: #263238;
        font-family: Quicksand;
        font-size: 48px;
        font-style: normal;
        padding-left: 50px;
        font-weight: 700;
        line-height: 92.44px; /* 171.749% */
        letter-spacing: -0.274px;
    }

    .second{
        width: 586px;
        height: 93px;
        flex-shrink: 0;
        color: var(--Dark-Blue, #263238);
        font-family: Quicksand;
        padding-left: 50px;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 32.44px; /* 257.624% */
        letter-spacing: -0.274px;
    }
}